{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block main %}
    <div id="about_container">
        <h2>What is EatWhat?</h2>
        <div>
            <p class="about_p">EatWhat is a unique, yet simple solution to the simple and hard question: what do I eat?</p>
            <img class="about_img" src="../static/assets/think.png" height="500px" width="500px">
            <p class="about_p">Pop in some basic information, such as some food restrictions and a few favorite flavors.</p>
            <img class="about_img" src="../static/assets/eating.jpeg" height="500px" width="500px">
            <p class="about_p">Confirm your location, wait time and different country cuisines you're open to and you're done!</p>
            <img class="about_img" src="../static/assets/checklist.jpeg" height="500px" width="500px">
            <p class="about_p">Our current version is in pre-alpha and does not yet save preferences or host a large database.</p>
        </div>
    </div>
{% endblock %}

